main {
   display: flex;
   flex-direction: row;
   flex: auto; 
}

body{
    display: flex;
    flex-direction: column;
}

aside{
    flex: 1;
    overflow-y: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

@media (max-width:600px){

    .works on smartphone {
        display: block;
    }
}
